NEXT_PUBLIC_SUPABASE_URL=https://joyeyywougvzqdnffzch.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpveWV5eXdvdWd2enFkbmZmemNoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTg5MDgyNDMsImV4cCI6MjA3NDQ4NDI0M30.kerFvoVauTwcGmhYj71jmgnULmgLYXZBYwWrhnQ33G0
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpveWV5eXdvdWd2enFkbmZmemNoIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1ODkwODI0MywiZXhwIjoyMDc0NDg0MjQzfQ.Ymnd1vq5v-NHi50HqwsKC9zIWKHlVWwM5-o-uZTNy3s
NEXT_PUBLIC_AUTH_REDIRECT_URL=http://localhost:3000/auth/callback
ML_SERVICE_URL=http://localhost:8000
RESEND_API_KEY=re_KnhvEYyo_3PtpaKbpvZyhE68vAFVysKWQ